/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    /* для того, чтобы убрать крестик
         в эксплорере! */

    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    /* -mozila*/
    /* для того, чтобы убрать лишние
           отспуты и пробелы в часности
           в кнопках в этом браузере

           т.е. отступы становятся одинаковыми
           с другими браузерами!!! */

    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

/* SCROLL START */

body::-webkit-scrollbar {
    width: 5px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: #000000; /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: #705a17; /* цвет бегунка */
    border-radius: 5px; /* округлось бегунка */
    border: 1px solid #bdae82; /* отступ вокруг бегунка */
}

/* SCROALL END */

body {
    background-color: #000;
    color: #fff;
}

.header {
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 1440px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .header__wrapper,
    .footer__wrapper {
        padding: 20px;
    }

    /* .header__wrapper {
      padding-right: 100px;
    } */
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-image: url("../src/img/bg/header\ \(2\).jpg");
    /*background-image: url("../src/img/bg/headerWhite.jpg");*/

    background-repeat: no-repeat;
    background-position: center 0;
}

.logo {
    width: 50px;
    height: 50px;
    /*background-image: url("../src/img/icons/logo\ 1.svg");*/
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header__navigation {
    margin-left: auto;
    margin-right: 30px;
}

.header__nav-list {
    display: flex;
    gap: 30px;
}

.header__nav-list li {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 250%;
    transition: 0.3s;
}

.header__nav-list li:hover {
    cursor: pointer;
}

.header__nav-list li:hover {
    color: #bdae82;
}

.language-switch {
}

.lan__list {
    display: flex;
    gap: 9px;
}

.lan__list li {
    cursor: pointer;
    transition: 0.3s;
}

.lan__list li,
.lan__list span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 250%;
}

.lan__list li:hover {
    color: #bdae82;
}

.main {
}

.welcome {
}

.wrapper {
}

.welcome__wrapper {
    height: 820px;
    background: url("../src/img/bg/bg.png") center -90px no-repeat;
    /*background: url("../src/img/bg/bgWhite.jpg") center -90px no-repeat;*/

    transition: 1s;
}

.welcome__content {
    /* padding: 160px 0 0 0; */
    margin: 0 0 0 59px;
    max-width: 500px;
}

.welcome__title {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 200%;
    color: #ffffff;
    padding: 160px 0 0 0;
    margin: 0 0 10px 0;
}

.welcome__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;

    margin: 0 0 25px 0;
}

@media (max-width: 920px) {
    .welcome__wrapper {
        height: 600px;
    }

    .welcome__content {
        max-width: 390px;
    }

    .welcome__title {
        font-size: 32px;
        line-height: 200%;
        padding: 78px 0 0 0;
    }

    .welcome__text {
        font-size: 20px;
        line-height: 120%;
        margin: 0 0 60px 0;
    }
}

.welcome-block__buttons {
    display: inline-block;
    width: 220px;
    height: 55px;
    margin: 0 0 330px 59px;
}

@media (max-width: 768px) {
    .welcome-block__buttons {
        margin: 0 0 0 59px;
    }
}

.welcome-block__button {
    background: #bdae82;
    border-radius: 0px;
    height: 50px;
    display: flex;
    justify-content: center;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 250%;
    /* identical to box height, or 200% */

    text-align: center;

    color: #000000;
    transition: 0.5s;
}

.welcome-block__button:hover {
    color: #fff;
}

.skills {
    padding: 100px 0 0 0;
}

.wrapper {
}

.skills__wrapper {
}

.title__block {
    /* Чтобы спрятать часть линий, которые
        ** будут вылазить за пределы блока */
    overflow: hidden;
    /* Выравнивание заголовка по центру,
        ** можно использовать left, right */
    text-align: center;
    /* Тут можно добавить другие стили для заголовка */
    font-size: 30px;
}

.title {
    overflow: hidden;

    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 200%;

    text-align: center;

    color: #bdae82;
}

.title span {
    display: inline-block;
}

.title::before,
.title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 275px;
    height: 2px;
    background-color: #bdae82;
    position: relative;
}

.title::before {
    margin-left: -100%;
    left: -20px;
}

.title::after {
    margin-right: -100%;
    right: -20px;
}

.skills-title {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 200%;

    text-align: center;

    color: #bdae82;
}

.skills-title::before {
    content: "";
    height: 2px;
    background: #bdae82;
    border-radius: 0px;
}

.skills__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
}

@media (max-width: 920px) {
    .title {
        font-size: 32px;
        line-height: 125%;
    }

    .title::before,
    .title::after {
        width: 100%;
        max-width: 180px;
    }
}

/* .skills-item__image {
    display: flex;
    margin: 0 auto 50px auto;
  } */

.skills-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-item {
    width: 320px;
    padding: 100px 20px 10px;
    background-repeat: no-repeat;
    background-position: center top;
}

.skills-item:nth-child(1) {
    background-image: url("../src/img/icons/camera\ 1.svg");
    background-size: 62px 50px;
}

.skills-item:nth-child(2) {
    background-image: url("../src/img/icons/video\ 1.svg");
    background-size: 60px 50px;
}

.skills-item:nth-child(3) {
    background-image: url("../src/img/icons/image\ 1.svg");
    background-size: 66px 50px;
}

.skills-item:nth-child(4) {
    background-image: url("../src/img/icons/mic\ 1.svg");
    background-size: 32px 50px;
}

.skills-item__title {
    display: block;
    margin: 0 auto;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 200%;

    text-align: center;

    color: #ffffff;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}

.skills-item__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

.item1 {
    max-width: 320px;
}

.item2 {
    max-width: 320px;
}

.item3 {
    max-width: 320px;
}

.item4 {
    max-width: 320px;
}

@media (max-width: 768px) {
    .skills__content {
        max-width: 728px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 44px;
        grid-row-gap: 36px;
        margin: 0 auto;
        padding: 0;
        margin-top: 47px;
        justify-content: center;
    }

    .skills-item__text {
        font-size: 18px;
        line-height: 122%;
        text-align: center;

        margin: 0 0 40px 0;
    }

    .item1 {
        max-width: 300px;
    }

    .item2 {
        max-width: 300px;
    }

    .item3 {
        max-width: 300px;
    }

    .item4 {
        max-width: 300px;
    }
}

.portfolio {
}

.wrapper {
}

.portfolio__wrapper {
    /* margin: 0 auto; */
}

.title {
}

.portfolio__title {
    margin: 100px 0 60px 0;
}

@media (max-width: 768px) {
    .portfolio__title {
        margin: 80px 0 50px 0;
    }
}

@media (max-width: 1440px) {
    .photo__block img {
        width: 100%;
        max-width: 450px;
        height: auto;
    }
}

.portfolio__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.portfolio-block__buttons {
    display: block;
    /* margin: 60px 0; */
    width: 100%;
    height: 55px;
    max-width: 220px;
}

.portfolio-block__button {
    border: 2px solid #bdae82;
    border-radius: 0px;
    height: 55px;
    display: flex;

    justify-content: center;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;

    text-align: center;
    align-items: center;
    color: #bdae82;
    transition: 0.5s;
}

.portfolio-block__button:hover {
    background: #bdae82;
    color: #000000;
}

.portfolio-block__button:active {
    background: #bdae82;
    color: #000000;
}

.portfolio__grid {
    margin: 60px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

@media (max-width: 768px) {
    .portfolio__buttons {
        flex-wrap: wrap;
        max-width: 500px;

        margin: 0 auto;
    }
}

.photo__block {
}

.video {
    position: relative;
}

.wrapper {
}

.video__wrapper {
}

.title {
}

.video__title {
    margin: 100px 0 60px 0;
}

@media (max-width: 768px) {
    .video__title {
        margin: 80px 0 50px 0;
    }
}

.video__block {
    position: relative;
    z-index: 1;
}

/* .video__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../src/img/bg/video-player.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 1s;
  width: 100%;
  max-width: 1400px;
  height: 705px;
  z-index: 2;
} */
.video__block {
    display: flex;
    position: relative;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-player {
    display: flex;
    flex: 0 0 100%;
    position: relative;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .video-player.icon {
  position: absolute;

  background-image: url("../src/img/icons/Play_hover.svg");
  background-position: center center;
  width: 129.86px;
  height: 130px;
  z-index: 5;
} */

.icon-play {
    /* display: block; */
    background-image: url("../src/img/icons/Play_hover.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    cursor: pointer;
    transition: 1s;
    z-index: 10;

    width: 129.86px;
    height: 130px;
}

@media (max-width: 768px) {
    .icon-play {
        width: 100%;
        height: 100%;
        max-width: 55px;
        max-height: 45px;
    }
}

.icon-play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transform: scale(1.05);
}

.icon-play:active {
    transform: scale(1.15);
}

/* .price {
}
.wrapper {
}
.price__wrapper {
}
.title {
}
.price__title {
  margin: 100px 0 60px 0;
}
.prices__blocks {
  width: 100%;
  max-width: 1400px;

  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.first__item {
  width: 100%;
  max-width: 450px;
  height: 505px;

  border: 3px solid #bdae82;
  border-radius: 0px;
}
@media (max-width: 768px) {
  .first__item {
    width: 100%;
    max-width: 420px;
    padding: 40px 20px;
  }
}
.first__item {
}
.prices-item__title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 200%;
 
  margin: 43px 0 20px 0;
  text-align: center;

  color: #ffffff;
}
.prices-item__price {
  display: block;
  text-align: center;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  margin: 0 0 20px 0;
  text-align: center;

  color: #bdae82;
}
.price-card__text {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;

  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}
.price-item__description {
  margin-bottom: 40px;
}
/* .prices__button {
  margin: 40px 0 43px 0;
} */

.price {
    padding-bottom: 60px;
}

.price__wrapper {
}

.price-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price-section__title {
    margin: 100px 0 60px 0;
}

@media (max-width: 768px) {
    .price-section__title {
        margin: 80px 0 50px 0;
    }
}

.price-item {
    width: 450px;
    border: 3px solid #bdae82;
    padding: 40px;
    margin-bottom: 40px;
}

.price-title {
    font-family: "Merriweather", serif;
    font-size: 28px;
    line-height: 200%;
    text-align: center;
    /* margin: 100px 0 60px 0; */
    /* margin: 40px 0 40px 0; */
    margin-bottom: 20px;
}

.price-cost {
    font-family: "Merriweather", serif;
    font-size: 24px;
    line-height: 200%;
    font-weight: 700;
    text-align: center;
    color: #bdae82;
    margin-bottom: 20px;
}

.price-descripton {
    margin-bottom: 40px;
}

.price-descripton span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;

    text-align: center;

    display: block;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

.price-btn {
    background-color: #bdae82;
    border-radius: 0px;
    height: 55px;
    display: flex;
    width: 220px;
    justify-content: center;
    margin: 0 auto;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;

    text-align: center;
    align-items: center;
    color: #000000;
    transition: 0.5s;
}

.price-btn:hover {
    color: #fff;
}

.prices-block__button {
}

@media (max-width: 768px) {
    .prices__button {
    }
}

.prices-block__button:hover {
    color: #ffffff;
}

*

/
.contacts {
    margin: 100px 0 0 0;
}

.wrapper {
}

.contacts__wrapper {
    min-height: 700px;
    padding-top: 60px;
    padding-right: 20px;
    background: url("../src/img/bg/contacts.jpg");
    background-size: auto 700px;
    background-position: center center;
}

.contacts__block {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-left: auto;
}

@media (max-width: 920px) {
    .contacts__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .contacts .wrapper {
        min-height: 600px;
        padding-top: 60px;
        padding-right: 20px;
        background-size: auto 600px;
    }

    .contacts__block {
        width: 100%;
        max-width: 420px;
    }
}

.contacts__title {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 200%;

    margin: 0 0 40px 0;
    color: #bdae82;
}

.input__type-email,
.input__type-tel {
    width: 450px;
    height: 50px;
    color: #bdae82;
    background-color: transparent;
    border: 2px solid #bdae82;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;

    transition: 0.5s;
}

.text__message {
    width: 450px;
    height: 100px;
    color: #bdae82;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #bdae82;
    margin-bottom: 20px;
    resize: none;
    padding: 10px 20px;
    font-size: 20px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;

    transition: 0.5s linear;
}

@media (max-width: 768px) {
    .input__type-email,
    .input__type-tel,
    .text__message {
        width: 100%;
        max-width: 420px;
    }
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.input__type-email:focus,
.input__type-email:hover,
.input__type-tel:focus,
.input__type-tel:hover,
.text__message:focus,
.text__message:hover {
    background: #000000;
    border-color: #ffffff;
}

.input__type-email:focus,
.input__type-tel:focus,
.text__message:focus {
    border-radius: 5px;
}

.text__message::-webkit-scrollbar {
    width: 10px; /* ширина всей полосы прокрутки */
}

.text__message::-webkit-scrollbar-track {
    background: #000000; /* цвет зоны отслеживания */
    cursor: pointer;
}

.text__message::-webkit-scrollbar-thumb {
    background-color: #705a17; /* цвет бегунка */
    border-radius: 5px; /* округлось бегунка */
    border: 1px solid #bdae82; /* отступ вокруг бегунка */
    cursor: pointer;
}

.contacts-block__button {
}

.contacts__button {
    background: #bdae82;
    border-radius: 0px;
    height: 55px;
    display: flex;
    width: 220px;
    justify-content: center;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;

    text-align: center;
    align-items: center;
    color: #000000;
    transition: 0.5s;
}

@media (max-width: 920px) {
    .contacts__button {
        margin: 0 auto;
    }
}

.contacts__button:hover {
    color: #ffffff;
}

.contacts__button:active {
    background-color: #705a17;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: #000;
    color: #fff;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 1440px;
    padding: 50px 20px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 50px;
}

.social-link {
    display: flex;
    align-items: flex-end;
}

.social-item {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

.social-item:hover,
.social-item:active {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

/*.fb {*/
/*    background-image: url("../src/img/icons/fb\ 1.svg");*/
/*}*/

/*.inst {*/
/*    background-image: url("../src/img/icons/inst\ 1.svg");*/
/*}*/

/*.tw {*/
/*    background-image: url("../src/img/icons/tw\ 1.svg");*/
/*}*/

/*.pinterest {*/
/*    background-image: url("../src/img/icons/pinterest\ 1.svg");*/
/*}*/

.social-item a {
    display: block;
    width: 32px;
    height: 32px;
}

.footer-data {
    display: flex;
    align-items: center;
    min-height: 50px;
}

.copyright {
    padding-right: 20px;
    line-height: 50px;
}

.year {
    line-height: 50px;
}

.github-username,
.rss {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
}

.github-username:hover,
.rss:hover {
    color: #bdae82;
}

@media (max-width: 920px) {
    .footer__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1440px) {
    .skills__content,
    .portfolio__grid,
    .price-items {
        justify-content: space-around;
    }
}

.header-burger {
    display: none;
}

@media (max-width: 768px) {
    .header__nav-list {
        display: none;
    }

    .lan__list {
        margin-right: 20px;
    }

    .header-burger {
        display: flex;
        justify-content: flex-end;
    }
}

.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.menu-btn span:nth-of-type(4) {
    top: calc(50% + 10px);
}


/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.menu-btn.active span:nth-of-type(4) {
    display: none;
}

/*MENU*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*padding: 15px;*/
    background: #000000;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 2;
}

.menu.active {
    transform: translateX(25%);

}

.menu li {
    list-style-type: none;
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-75%);
    transition: transform 21s;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*blur*/
    backdrop-filter: blur(3px);
    /*blur*/
    z-index: 5;
}

.burger-navigation {
    display: flex;
    margin: 100px;
}

.burger-links {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 207%;
}

.burger-link {
    color: #FFFFFF;
}

.portfolio-btn__active {
    color: #000;
    background-color: #bdae82;
}

/*burger end*/


/*  THEME  */

.btn-theme {
    background: url("../src/img/icons/theme/carbon_sun.svg") no-repeat;


    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    /*background-color: #673ab7;*/
    /* расстояние от правого края окна браузера */
    right: -10px;
    /* расстояние от нижнего края окна браузера */
    bottom: 40px;
    /* скругление верхнего левого угла */
    border-top-left-radius: 8px;
    /* скругление верхнего правого угла */
    border-top-right-radius: 8px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 60px;
    /* высота элемента */
    height: 50px;


    z-index: 1000000000000;
}

.switch-theme {

}

.welcome-block__button-hover {
    background: white;
}

.welcome-block__button-hover:hover {
    background: #1C1C1C;
    color: #BDAE82;
}

.body-white-style {
    background-color: white;
    color: black;
}

.logo-white-style {
    fill: black;
}

.welcome__title-white-style {
    color: black;
    transition: 1s;
}

.welcome__wrapper-white-style {
    background: url(../src/img/bg/bgWhite.jpg) center -90px no-repeat;
}

.header__wrapper-white-style {
    background: url("../src/img/bg/headerWhite.jpg") center 0 no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header__nav-list-white-style li:hover {
    color: white;
}

.welcome-block__button-white-style {

}


.title-white-style {
    color: black;
}

.title-white-style::before,
.title-white-style::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 275px;
    height: 2px;
    background-color: black;
    position: relative;
}

.skills-item__title-white-style {
    color: black;
}

.skills-item__text-white-style {
    color: black;
}

.portfolio-block__buttons-white-style {
    color: black;
    border: 2px solid black;
    /*background: #BDAE82;*/
}

.portfolio-block__buttons-white-style:hover {
    background: #1C1C1C;
    color: #BDAE82;
}

.portfolio-btn__active-white-style {
    background: BLACK;
    color: #BDAE82;
}

.price-items-white-style {
    border: 3px solid black;
}

.price-btn-white-style {
    border: 1px solid black;
}

.price-btn-white-style:hover {
    background: #1C1C1C;
    color: #BDAE82;
}

.lng-span-active {
    color: #ffbe00;
    text-shadow: 1px 1px black;
}

.lng-span-active-white-style {
    color: #BDAE82;
}

.price-cost-white-style {
    color: black;
}

.contacts__wrapper-white-style {
    background: url(../src/img/bg/contactsWhite.jpg) center;

    min-height: 700px;
    padding-top: 60px;
    padding-right: 20px;
    background-size: auto 700px;
}

.contacts__title-white-style {
    color: #1C1C1C;
}

.input__type-email-white-style,
.input__type-tel-white-style,
.text__message-white-style {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #BDAE82;
    color: black;
}
.input__type-email-white-style::placeholder,
.input__type-tel-white-style::placeholder,
.text__message-white-style::placeholder {
    font-family: inherit;
    color: #1C1C1C;
    font-size: 20px;
}
.input__type-email-white-style:focus,
.input__type-email-white-style:hover,
.input__type-tel-white-style:focus,
.input__type-tel-white-style:hover,
.text__message-white-style:focus,
.text__message-white-style:hover {
    background: #ffffff;
    border-color: #000000;
}

.contacts__button-white-style {
    background: white;
}

.contacts__button-white-style:hover {
    background: #1C1C1C;
    color: #BDAE82;
}

.footer-icon-white-style {
    fill: black;
}

.footer-white-style {
    background-color: white;
}
.rss-white-style,
.year-white-style,
.copyright-white-style,
.githubUsername-white-style {
    color: black;
}

.menu-white-style {
    background: white;
}
.burger-link-white-style {
    color: black;
}

.menu-btn-white-style span {
    background-color: black;
}